@charset "UTF-8";
/*----------------------------------------------------
共通スタイル
----------------------------------------------------*/
html {
  font-size: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

.header {
  width: 100%;
  height: 115px;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 50px;
  position: fixed;
  z-index: 1100;
}

.logo img {
  display: block;
  width: 201px;
  height: 100%;
}

h1.logo {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.menu li {
  margin-left: 40px;
}
.menu li::marker {
  content: "";
}
.menu li a {
  font-weight: bold;
  color: #334466;
}

.logo {
  width: 200px;
  height: 115px;
  margin: 0;
  top: 0;
  left: 0;
}

.fix-box {
  font-size: 18px;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #338899;
  font-weight: 400;
  padding: 44px 50px;
  z-index: 1200;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.fix-box a {
  color: #fff;
  position: relative;
  padding-left: 20px;
}
.fix-box a::before {
  content: "";
  background: url(/img/Memo.png);
  display: block;
  width: 100px;
  height: 120px;
  background-size: 50%;
  background-repeat: no-repeat;
  position: absolute;
  top: -5px;
  left: -20px;
}

.hamburger {
  display: none;
}

body {
  margin: 0;
}

.box-hover {
  position: relative;
  z-index: 1500;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 43vh;
  background-color: rgb(255, 255, 255);
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 35px;
  padding-left: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 115px;
}
.box-hover ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style: none;
  position: absolute;
  top: 35px;
  left: 350px;
}
.box-hover ul li {
  display: block;
  border-bottom: solid 1px #999;
  width: 300px;
  margin-left: 40px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
}
.box-hover ul li .en {
  font-size: 12px;
  color: #999;
}
.box-hover ul li .en::before {
  content: "";
  width: 10px;
  height: 1px;
  background-color: #666;
  position: absolute;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  top: 32px;
  right: -2px;
}
.box-hover ul li .en::after {
  content: "";
  width: 10px;
  height: 1px;
  background-color: #666;
  position: absolute;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  top: 37px;
  right: -2px;
}
.box-hover ul li .ja {
  font-weight: 700;
}
.box-hover ul li .ja::after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: #666;
  position: absolute;
  top: 34.5px;
  left: 279px;
}
.box-hover ul li .ja::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 50%;
  top: 20px;
  left: 275px;
}
.box-hover .wrapper {
  margin: 0px auto;
  width: 1280px;
}

.box-img img {
  width: 230px;
  height: 135px;
  -o-object-fit: cover;
     object-fit: cover;
}

.box-hover {
  display: none;
}

.top {
  width: 100%;
  height: 80px;
  margin-top: 0px;
  padding-top: 20px;
  padding-left: 150px;
}
.top p.en {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
  letter-spacing: 0.05em;
  line-height: 1.5;
}
.top p.ja {
  font-size: 1.7rem;
  color: #212121;
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 1.5;
  margin-bottom: 10px;
}

.mainvisual {
  margin-top: 27px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.mainvisual img:first-child {
  width: 100%;
}
.mainvisual img:last-child {
  width: 40%;
}
.mainvisual img {
  height: 400px;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px;
     object-position: 0px;
  display: block;
}

.top-text {
  width: 38%;
  margin-top: -330px;
  margin-bottom: 400px;
  margin-left: 60%;
  white-space: normal;
  word-break: break-all;
  overflow-wrap: break-word;
}
.top-text h1 {
  font-size: 24px;
  margin-bottom: 30px;
}
.top-text p:first-child {
  letter-spacing: 0.05em;
  line-height: 2;
  font-weight: 500;
  font-size: 20px;
}
.top-text p:last-child {
  padding-top: 20px;
  font-size: 14px;
}

.modal {
  margin-top: 115px;
}

.modal.active {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  z-index: 900;
}
.modal.active p {
  margin-bottom: 90px;
  z-index: 0;
}

.main-text {
  width: 100%;
  height: 200px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.main {
  margin-top: 0px;
  width: 100%;
  height: 500px;
  background-color: #f5f5f5;
}
.main .program {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.header-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1100;
}

body {
  overflow-y: scroll;
}

.feature {
  margin-bottom: 50px;
}
.feature h2 {
  font-size: 24px;
  margin-top: -200px;
  margin-bottom: 50px;
  text-align: center;
}
.feature .wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.feature .wrap .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  margin-left: 10px;
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 10px 40px 0px 20px;
  -webkit-box-align: last baseline;
  -webkit-align-items: last baseline;
      -ms-flex-align: last baseline;
          align-items: last baseline;
}
.feature .wrap .item .no {
  text-align: center;
  color: rgb(149, 178, 64);
}
.feature .wrap .item .no p:first-child {
  font-size: 14px;
}
.feature .wrap .item .no p:last-child {
  font-size: 18px;
  font-weight: 700;
}
.feature .wrap .item .info {
  margin-left: 20px;
}
.feature .wrap .item .info .p-text p:first-child {
  font-size: 13px;
  color: #333;
}
.feature .wrap .item .info .p-text p:last-child {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.06em;
  -webkit-transform: scaleY(1.1);
          transform: scaleY(1.1);
}
.feature .wrap .item .info .arrow {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  top: -15px;
  left: 270px;
  z-index: 900;
}
.feature .wrap .item .info .arrow span {
  width: 10px;
  height: 0.5px;
  background-color: #000;
  display: inline-block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 901;
}
.feature .wrap .item .info .arrow span:first-child {
  position: absolute;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  top: 0px;
  right: 3px;
}
.feature .wrap .item .info .arrow span:last-child {
  position: absolute;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  top: 0px;
  right: -3px;
}

.visual {
  height: 700px;
}

.scroll-active {
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.header.active {
  display: none;
}

.circle-anim {
  position: absolute;
  top: 20px;
  right: -5px;
  width: 30px;
  height: 30px;
  pointer-events: none;
}

.program .prog {
  margin-left: 100px;
}
.program .prog img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #fff;
  margin-top: 10px;
}
.program .prog p {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
}

.program .prog-1 {
  margin-left: 0px;
}

.main .main-text .header3 {
  padding-top: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0px;
}
.main .main-text .header3 p {
  font-size: 18px;
  color: #999;
  margin-right: 10px;
}
.main .main-text .header3 h3 {
  font-size: 48px;
  color: rgb(149, 178, 64);
  font-weight: 700;
  position: relative;
}
.main .main-text .header3 h3::before {
  content: "";
  width: 300px;
  height: 1px;
  background-color: #666;
  position: absolute;
  top: 22px;
  left: 280px;
}
.main .main-text .header3 h3::after {
  content: "";
  width: 300px;
  height: 1px;
  background-color: #666;
  position: absolute;
  top: 22px;
  right: 280px;
}

.main .main-text p:nth-of-type(1) {
  font-weight: bold;
  font-size: 28px;
}

.main .main-text p:nth-of-type(2) {
  font-size: 16px;
  color: #333;
  padding-top: 10px;
}

.traning {
  padding-top: 50px;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.traning .detail {
  padding-top: 100px;
  background-color: #fff;
  width: 1000px;
  height: 470px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.traning .detail .detail-text h4 {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
  text-align: center;
}
.traning .detail .detail-text ul li {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  padding: 12px 12px 12px 18px;
  border-radius: 30px;
  position: relative;
}
.traning .detail .detail-text ul li span {
  color: rgb(149, 178, 64);
}
.traning .detail .detail-text ul li .span {
  padding-left: 20px;
}
.traning .detail .detail-text ul li::before {
  content: "";
  width: 30px;
  height: 30px;
  border: solid 1px rgb(149, 178, 64);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 10px;
}

.traning .detail .detail-img img {
  width: 450px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  padding-left: 50px;
}

.traning .detail .detail-img .img {
  padding-left: 0;
  padding-right: 50px;
}

.traning {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box {
  width: 1000px;
  height: 400px;
  display: block;
  background-color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: rgb(149, 178, 64);
  position: relative;
}
.box::before {
  content: "";
  width: 35px;
  height: 1px;
  background-color: rgb(149, 178, 64);
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  position: absolute;
  top: 10px;
  left: 250px;
}
.box::after {
  content: "";
  width: 35px;
  height: 1px;
  background-color: rgb(149, 178, 64);
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
  position: absolute;
  top: 10px;
  right: 250px;
}
.box .inner {
  font-size: 18px;
  color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding-top: 70px;
}
.box .inner .flex-text {
  border: solid 1px rgb(149, 178, 64);
  border-radius: 40px;
  padding: 140px 60px 10px 60px;
  position: relative;
}
.box .inner .flex-text img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 22%;
  border: solid 1px rgb(149, 178, 64);
}
.box .inner .flex-text span {
  position: absolute;
  top: 70px;
  left: 75%;
  font-size: 14px;
  font-weight: 400;
}