/*----------------------------------------------------
共通スタイル
----------------------------------------------------*/
html {
  font-size: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

.header {
  width: 100%;
  height: 115px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 50px;
  position: fixed;
  z-index: 1100;
}

.logo img {
  display: block;
  width: 201px;
  height: 100%;
}

h1.logo {
  margin: 0;
  padding: 0;
}


.menu {
  display: flex;
  li {
    margin-left: 40px;
    &::marker {
      content: "";
    }
    a {
      font-weight: bold;
      color: #334466;
    }
  }
}

.logo {
  width: 200px;
  height: 115px;
  margin: 0;
  top: 0;
  left: 0;
}

.fix-box {
  font-size: 18px;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #338899;
  font-weight: 400;
  padding: 44px 50px;
  z-index: 1200;
  align-items: center;
  a {
    color: #fff;
    position: relative;
    padding-left: 20px;
  }
  a::before {
    content: "";
    // background: url(/img/clipboad.png);
    background: url(/img/Memo.png);
    display: block;
    // filter: invert(1);
    width: 100px;
    height: 120px;
    background-size: 50%;
    background-repeat: no-repeat;
    position: absolute;
    top: -5px;
    left: -20px;
  }
}

.hamburger {
  display: none;
}

body{
  margin: 0;
}

.box-hover {
  position: relative;
  z-index: 1500;
  display: flex;
  width: 100%;
  height: 43vh;
  background-color: rgba(255, 255, 255, 1);
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 35px;
  padding-left: 100px;
  justify-content: center;
  top: 115px;
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    position: absolute;
    top: 35px;
    left: 350px;
    li {
      display: block;
      border-bottom: solid 1px #999;
      width: 300px;
      margin-left: 40px;
      padding-bottom: 10px;
      margin-bottom: 10px;
      position: relative;
      .en {
        font-size: 12px;
        color: #999;
        &::before {
          content: "";
          width: 10px;
          height: 1px;
          background-color: #666;
          position: absolute;
          transform: rotate(35deg);
          top: 32px;
          right: -2px;
        }
        &::after {
          content: "";
          width: 10px;
          height: 1px;
          background-color: #666;
          position: absolute;
          transform: rotate(-35deg);
          top: 37px;
          right: -2px;
        }
      }
      .ja {
        font-weight: 700;
        &::after {
          content: "";
          width: 20px;
          height: 1px;
          background-color: #666;
          position: absolute;
          // top: 34.5px;
          top: 34.5px;
          // right: 0px;
          left: 279px;

        }
        &::before {
          content: "";
          position: absolute;
          width: 30px;
          height: 30px;
          border: 1px solid #ccc;
          border-radius: 50%;
          top: 20px;
          // right: -50px;
          // left: 273px;
          left: 275px;
        }      
      }
    }
  }

  .wrapper {
    margin: 0px auto;
    width: 1280px;
  }  
}

.box-img img {
  width: 230px;
  height: 135px;
  object-fit: cover;
}

.box-hover {
  display: none;
}

.top {
  width: 100%;
  height: 80px;
  margin-top: 0px;
  padding-top: 20px;
  padding-left: 150px;
  p.en {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
    letter-spacing: 0.05em;
    line-height: 1.5;
  }
  p.ja {
    font-size: 1.7rem;
    color: #212121;
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height: 1.5;
    margin-bottom: 10px;
  }
}

.mainvisual {
  margin-top: 27px;
  display: flex;
  img:first-child {
    width: 100%;
  }
  img:last-child {
    width: 40%;
  }
  img {
    height: 400px;
    max-width: 100%;
    object-fit: cover;
    object-position: -0px;
    display: block;
  }
}
.top-text {
  width: 38%;
  margin-top: -330px;
  margin-bottom: 400px;
  // margin-left: 55%;
  margin-left: 60%;
  white-space: normal;
  word-break: break-all;
  overflow-wrap: break-word;
  h1 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  p:first-child {
    letter-spacing: 0.05em;
    line-height: 2;
    font-weight: 500;
    font-size: 20px;
  }
  p:last-child {
    padding-top: 20px;
    font-size: 14px;
  }
}

.modal {
  margin-top: 115px;
}

.modal.active {
  filter: brightness(0.5);
  // background-color: rgba(0, 0, 0, 0.5);
  // position: fixed;
  z-index: 900;
  // margin-top: -194px;
  p {
    // display: none;
    margin-bottom: 90px;
    z-index: 0;
  }
}

.main-text {
  width: 100%;
  height: 200px;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.main {
  margin-top: 0px;
  width: 100%;
  height: 500px;
  background-color: #f5f5f5;
  .program {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

.header-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1100;
}

body {
  overflow-y: scroll;
}

.feature {
  margin-bottom: 50px;
 h2 {
  font-size: 24px;
  margin-top: -200px;
  margin-bottom: 50px;
  text-align: center;
 }
  .wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    .item {
      display: flex;
      width: 400px;
      margin-left: 10px;
      border: solid 1px #ccc;
      border-radius: 5px;
      padding: 10px 40px -0px 20px;
      align-items:last baseline;
      .no {
        text-align: center;
        color: rgb(149 178 64);
        p:first-child {
          font-size: 14px;
        }
        p:last-child {
          font-size: 18px;
          font-weight: 700;
        }
      }
      .info {
        margin-left: 20px;
        .p-text {
          p:first-child {
            font-size: 13px;
            color: #333;
          }
          p:last-child {
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 0.06em;
            transform: scaleY(1.1);
          }
        }
        .arrow {
          width: 20px;
          height: 20px;
          cursor: pointer;
          position: relative;
          top: -15px;
          left: 270px;
          z-index: 900;
        }
        .arrow span {
          width: 10px;
          height: 0.5px;
          background-color: #000;
          display: inline-block;
          transition: all 0.4s;
          z-index: 901;
        }
        .arrow span:first-child {
          position: absolute;
          transform: rotate(40deg);
          top: -0px;
          right: 3px;
        }
        .arrow span:last-child {
          position: absolute;
          transform: rotate(-40deg);
          top: -0px;
          right: -3px;
        }
      }
    }
  }
}

.visual {
  height: 700px;
}

.scroll-active {
  transition: .6s ease;
}

.header.active {
  display: none;
}

// .box-hover ul li .ja::before {
//   position: relative;
// }

.circle-anim {
  position: absolute;
  top: 20px;
  right: -5px;
  width: 30px;
  height: 30px;
  pointer-events: none;
}

.program .prog {
  margin-left: 100px;
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #fff;
    margin-top: 10px;
  }
  p {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
  }
}
.program .prog-1 {
  margin-left: 0px;
}

.main .main-text .header3 {
  padding-top: 30px;
  align-items: center;
  margin-bottom: 0px;
  p {
    font-size: 18px;
    color: #999;
    margin-right: 10px;
  }
  h3 {
    font-size: 48px;
    color: rgb(149 178 64);
    font-weight: 700;
    position: relative;
    &::before {
      content: "";
      width: 300px;
      height: 1px;
      background-color: #666;
      position: absolute;
      top: 22px;
      left: 280px;
    }
    &::after {
      content: "";
      width: 300px;
      height: 1px;
      background-color: #666;
      position: absolute;
      top: 22px;
      right: 280px;
    }
  }
}

.main .main-text p:nth-of-type(1) {
  font-weight: bold;
  font-size: 28px;
}

.main .main-text p:nth-of-type(2) {
  font-size: 16px;
  color: #333;
  padding-top: 10px;
}